<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メニュー画面</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="initial-scale=1">

</head>
<body>
<nav class="navbar navbar-default" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/menu">OJT成果発表投票サイト</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <p class="navbar-text navbar-right"><span sec:authentication="principal.userName"></span>さんでログイン中</p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="mx-auto">
        <div class="card border-info mb-3" style="width:20rem;margin:auto">
            <div class="card-header">メニュー画面</div>
            <div class="card-body">
                <form th:action="@{/voteDo}" method="get">
                    <button type="submit" class="btn btn-primary mb-2" th:unless="${num}">投票画面へ</button>
                </form>
                <form th:action="@{/result}" method="get">
                    <button type="submit" class="btn btn-primary mb-2 ">結果画面へ</button>
                </form>
                <form method="post" th:action="@{/logout}">
                    <button type="submit" class="btn btn-primary mb-2 ">ログアウト</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>