<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投票画面</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/center.css">
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
    <div class="container">
        <form th:action="@{/tohyo}" th:object="${form}" method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card border-info mb-3">
                        <div class="card-header">新人</div>
                        <div class="card-body">
                            <div th:each="shain : ${shinjinList}">
                                <div class="checkbox">
                                    <input type="checkbox" th:value="${shain.userId}"
                                           th:text="${shain.userName}"
                                           th:field="*{shinjinId}">
                                </div>
                            </div>
                            <div id="shinjinName1"></div>
                            <div class="form-group">
                                <textarea name="shinjinComment" class="form-control" cols="25" rows="5"
                                          th:field="*{shinjinComment}"></textarea>
                            </div>
                            <div id="shinjinName2"></div>
                            <div class="form-group">
                                <textarea name="shinjinComment" class="form-control" cols="25" rows="5"
                                          th:field="*{shinjinComment}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card border-info mb-3">
                        <div class="card-header">2年目</div>
                        <div class="card-body">
                            <div th:each="shain : ${ninenmeList}">
                                <div class="checkbox">
                                    <input type="checkbox" th:value="${shain.userId}"
                                           th:text="${shain.userName}"
                                           th:field="*{ninenmeId}">
                                </div>
                            </div>
                            <div id="ninenmeName1"></div>
                            <div class="form-group">
                                <textarea name="ninenmeComment" class="form-control" cols="25" rows="5"
                                          th:field="*{ninenmeComment}"></textarea>
                            </div>
                            <div id="ninenmeName2"></div>
                            <div class="form-group">
                                <textarea name="ninenmeComment" class="form-control" cols="25" rows="5"
                                          th:field="*{ninenmeComment}"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-2">投票する</button>

        </form>
        <form th:action="@{/result}" method="get">
            <button type="submit" class="btn btn-primary mb-2 ">結果画面へ</button>
        </form>
        <form method="post" th:action="@{/logout}">
            <button type="submit" class="btn btn-primary mb-2 ">ログアウト</button>
        </form>
    </div>
</body>
</html>